DATABASE_URL=
DEFAULT_USER_EMAIL=
OPENAI_API_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
NEXT_PUBLIC_APP_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
